[Unit]
Description=PIA WireGuard token renewal and connect
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash /usr/local/bin/pia-renew-and-connect.sh
#ExecStartPost=/bin/systemctl try-restart pia-port-forward.service
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
