[Unit]
Description=Run PIA port monitor every 30 minutes
Requires=pia-port-monitor.service

[Timer]
# Run every 30 minutes
OnBootSec=5min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
